.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.button{
    text-decoration: none;
    width: 25%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
}
