.header{
    padding: 0 0px;
    margin: 0 0px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.button{
    padding: 0 0px;
    margin: 0 0px;
    text-decoration: none;
    width: 25%;
    height: 100%;
    background-color: #007BFF;
    color: white;
    text-align: center;
    font-size: 100%;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
}
