header{
    background: #fff;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
li{
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
}
.tytle{
    color:blue;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
    font-size:60px;
}
.tytle2{
    color:black;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
    font-size:40px;
}
.smalltytle{
    color:black;
    font-family: "Hiragino Sans",'ヒラギノ角ゴシック';
    font-size:20px;
    font-weight:700;
}
.text1{
    color:black;
    font-family:"Hiragino Sans",'ヒラギノ角ゴシック';
    font-size:15px;
    }
.myurl{
    color:darkblue;
    font-family:"Hiragino Sans",'ヒラギノ角ゴシック';
}
body{
    background-color:white;
    background-size:contain;
    background-repeat:no-repeat;
}
